header.header
  -
    const headerData = {
      title: "Наши клиенты",
      clientList: [
        { name: "Internorm",
          postscript: "5&nbsp;лет вместе",
          pictures: {
            picClass: "client-picture",
              source: [
                {
                  minWidth: 0,
                  type: "png",
                  url: "/assets/img/client-list/internorm/internorm-sm",
                  alt: "internorm logo",
                  wholeArea: true,
                  // width: 154.18,
                  // height: 39.25,
                  unitsSize: "px"
                },
                {
                  minWidth: 0,
                  type: "webp",
                  url: "/assets/img/client-list/internorm/internorm-sm",
                  alt: "internorm logo",
                  wholeArea: true,
                  // width: 154.18,
                  // height: 39.25,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "png",
                  url: "/assets/img/client-list/internorm/internorm-md",
                  alt: "internorm logo",
                  wholeArea: true,
                  // width: 203,
                  // height: 52,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "webp",
                  url: "/assets/img/client-list/internorm/internorm-md",
                  alt: "internorm logo",
                  wholeArea: true,
                  // width: 203,
                  // height: 52,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "png",
                  url: "/assets/img/client-list/internorm/internorm-lg",
                  alt: "internorm logo",
                  wholeArea: true,
                  lazy: true,
                  // width: 305,
                  // height: 77.64,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "webp",
                  url: "/assets/img/client-list/internorm/internorm-lg",
                  alt: "internorm logo",
                  wholeArea: true,
                  // width: 305,
                  // height: 77.64,
                  unitsSize: "px"
                }
              ]
          }
        },
        { name: "Rosatom",
          postscript: "1&nbsp;год вместе",
          pictures: {
            picClass: "client-picture",
              source: [
                {
                  minWidth: 0,
                  type: "png",
                  url: "/assets/img/client-list/rosatom/rosatom-sm",
                  alt: "rosatom logo",
                  wholeArea: true,
                  // width: 148.62,
                  // height: 52.17,
                  unitsSize: "px",
                },
                {
                  minWidth: 0,
                  type: "webp",
                  url: "/assets/img/client-list/rosatom/rosatom-sm",
                  alt: "rosatom logo",
                  wholeArea: true,
                  // width: 148.62,
                  // height: 52.17,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "png",
                  url: "/assets/img/client-list/rosatom/rosatom-md",
                  alt: "rosatom logo",
                  wholeArea: true,
                  // width: 196,
                  // height: 69,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "webp",
                  url: "/assets/img/client-list/rosatom/rosatom-md",
                  alt: "rosatom logo",
                  wholeArea: true,
                  // width: 196,
                  // height: 69,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "png",
                  url: "/assets/img/client-list/rosatom/rosatom-lg",
                  alt: "rosatom logo",
                  wholeArea: true,
                  lazy: true,
                  // width: 294,
                  // height: 102.15,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "webp",
                  url: "/assets/img/client-list/rosatom/rosatom-lg",
                  alt: "rosatom logo",
                  wholeArea: true,
                  // width: 294,
                  // height: 102.15,
                  unitsSize: "px"
                }
              ]
          },
        },
        { name: "Lobachevsky university",
          postscript: "1&nbsp;год вместе",
          pictures: {
            picClass: "client-picture",
              source: [
                {
                  minWidth: 0,
                  type: "png",
                  url: "/assets/img/client-list/nngu/nngu-sm",
                  alt: "lobachevsky university logo",
                  wholeArea: true,
                  // width: 145.46,
                  // height: 44.4,
                  unitsSize: "px"
                },
                {
                  minWidth: 0,
                  type: "webp",
                  url: "/assets/img/client-list/nngu/nngu-sm",
                  alt: "lobachevsky university logo",
                  wholeArea: true,
                  // width: 145.46,
                  // height: 44.4,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "png",
                  url: "/assets/img/client-list/nngu/nngu-md",
                  alt: "lobachevsky university logo",
                  wholeArea: true,
                  // width: 181,
                  // height: 55,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "webp",
                  url: "/assets/img/client-list/nngu/nngu-md",
                  alt: "lobachevsky university logo",
                  wholeArea: true,
                  // width: 181,
                  // height: 55,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "png",
                  url: "/assets/img/client-list/nngu/nngu-lg",
                  alt: "lobachevsky university logo",
                  wholeArea: true,
                  lazy: true,
                  // width: 271,
                  // height: 82.71,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "webp",
                  url: "/assets/img/client-list/nngu/nngu-lg",
                  alt: "lobachevsky university logo",
                  wholeArea: true,
                  // width: 271,
                  // height: 82.71,
                  unitsSize: "px"
                }
              ]
          },
        },
        { name: "Gas group",
          postscript: "1&nbsp;год вместе",
          pictures: {
            picClass: "client-picture",
              source: [
                {
                  minWidth: 0,
                  type: "png",
                  url: "/assets/img/client-list/gas-group/gas-group-sm",
                  alt: "gas-group logo",
                  wholeArea: true,
                  // width: 98.23,
                  // height: 37.77,
                  unitsSize: "px"
                },
                {
                  minWidth: 0,
                  type: "webp",
                  url: "/assets/img/client-list/gas-group/gas-group-sm",
                  alt: "gas-group logo",
                  wholeArea: true,
                  // width: 98.23,
                  // height: 37.77,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "png",
                  url: "/assets/img/client-list/gas-group/gas-group-md",
                  alt: "gas-group logo",
                  wholeArea: true,
                  // width: 122,
                  // height: 46,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "webp",
                  url: "/assets/img/client-list/gas-group/gas-group-md",
                  alt: "gas-group logo",
                  wholeArea: true,
                  // width: 122,
                  // height: 46,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "png",
                  url: "/assets/img/client-list/gas-group/gas-group-lg",
                  alt: "gas-group logo",
                  wholeArea: true,
                  lazy: true,
                  // width: 183,
                  // height: 69.55,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "webp",
                  url: "/assets/img/client-list/gas-group/gas-group-lg",
                  alt: "gas-group logo",
                  wholeArea: true,
                  // width: 183,
                  // height: 69.55,
                  unitsSize: "px"
                }
              ]
          }
        },
        { name: "Gazprom",
          postscript: "1&nbsp;год вместе",
          pictures: {
            picClass: "client-picture",
              source: [
                {
                  minWidth: 0,
                  type: "png",
                  url: "/assets/img/client-list/gazprom/gazprom-sm",
                  alt: "gazprom logo",
                  wholeArea: true,
                  // width: 126.89,
                  // height: 60.89,
                  unitsSize: "px"
                },
                {
                  minWidth: 0,
                  type: "webp",
                  url: "/assets/img/client-list/gazprom/gazprom-sm",
                  alt: "gazprom logo",
                  wholeArea: true,
                  // width: 126.89,
                  // height: 60.89,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "png",
                  url: "/assets/img/client-list/gazprom/gazprom-md",
                  alt: "gazprom logo",
                  wholeArea: true,
                  // width: 167,
                  // height: 80,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "webp",
                  url: "/assets/img/client-list/gazprom/gazprom-md",
                  alt: "gazprom logo",
                  wholeArea: true,
                  // width: 167,
                  // height: 80,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "png",
                  url: "/assets/img/client-list/gazprom/gazprom-lg",
                  alt: "gazprom logo",
                  wholeArea: true,
                  lazy: true,
                  // width: 251,
                  // height: 120.45,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "webp",
                  url: "/assets/img/client-list/gazprom/gazprom-lg",
                  alt: "gazprom logo",
                  wholeArea: true,
                  // width: 251,
                  // height: 120.45,
                  unitsSize: "px"
                }
              ]
          }
        },
        { name: "MrDoors",
          postscript: "2&nbsp;года вместе",
          pictures: {
            picClass: "client-picture",
              source: [
                {
                  minWidth: 0,
                  type: "png",
                  url: "/assets/img/client-list/mr-doors/mr-doors-sm",
                  alt: "mr-doors logo",
                  wholeArea: true,
                  // width: 144.44,
                  // height: 38.62,
                  unitsSize: "px"
                },
                {
                  minWidth: 0,
                  type: "webp",
                  url: "/assets/img/client-list/mr-doors/mr-doors-sm",
                  alt: "mr-doors logo",
                  wholeArea: true,
                  // width: 144.44,
                  // height: 38.62,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "png",
                  url: "/assets/img/client-list/mr-doors/mr-doors-md",
                  alt: "mr-doors logo",
                  wholeArea: true,
                  // width: 190,
                  // height: 51,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "webp",
                  url: "/assets/img/client-list/mr-doors/mr-doors-md",
                  alt: "mr-doors logo",
                  wholeArea: true,
                  // width: 190,
                  // height: 51,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "png",
                  url: "/assets/img/client-list/mr-doors/mr-doors-lg",
                  alt: "mr-doors logo",
                  wholeArea: true,
                  lazy: true,
                  // width: 278.27,
                  // height: 74.4,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "webp",
                  url: "/assets/img/client-list/mr-doors/mr-doors-lg",
                  alt: "mr-doors logo",
                  wholeArea: true,
                  // width: 278.27,
                  // height: 74.4,
                  unitsSize: "px"
                }
              ]
          }
        },
        { name: "Bona Fide",
          postscript: "1&nbsp;год вместе",
          pictures: {
            picClass: "client-picture",
              source: [
                {
                  minWidth: 0,
                  type: "png",
                  url: "/assets/img/client-list/bona-fide/bona-fide-sm",
                  alt: "bona-fide logo",
                  wholeArea: true,
                  // width: 145.36,
                  // height: 41.86,
                  unitsSize: "px"
                },
                {
                  minWidth: 0,
                  type: "webp",
                  url: "/assets/img/client-list/bona-fide/bona-fide-sm",
                  alt: "bona-fide logo",
                  wholeArea: true,
                  // width: 145.36,
                  // height: 41.86,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "png",
                  url: "/assets/img/client-list/bona-fide/bona-fide-md",
                  alt: "bona-fide logo",
                  wholeArea: true,
                  // width: 191,
                  // height: 55,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "webp",
                  url: "/assets/img/client-list/bona-fide/bona-fide-md",
                  alt: "bona-fide logo",
                  wholeArea: true,
                  // width: 191,
                  // height: 55,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "png",
                  url: "/assets/img/client-list/bona-fide/bona-fide-lg",
                  alt: "bona-fide logo",
                  wholeArea: true,
                  lazy: true,
                  // width: 287.14,
                  // height: 83.17,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "webp",
                  url: "/assets/img/client-list/bona-fide/bona-fide-lg",
                  alt: "bona-fide logo",
                  wholeArea: true,
                  // width: 287.14,
                  // height: 83.17,
                  unitsSize: "px"
                }
              ]
          }
        },
        { name: "Irgsno",
          postscript: "",
          pictures: {
            picClass: "client-picture",
              source: [
                {
                  minWidth: 0,
                  type: "png",
                  url: "/assets/img/client-list/irgsno/irgsno-sm",
                  alt: "irgsno logo",
                  wholeArea: true,
                  // width: 138,
                  // height: 48,
                  unitsSize: "px"
                },
                {
                  minWidth: 0,
                  type: "webp",
                  url: "/assets/img/client-list/irgsno/irgsno-sm",
                  alt: "irgsno logo",
                  wholeArea: true,
                  // width: 138,
                  // height: 48,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "png",
                  url: "/assets/img/client-list/irgsno/irgsno-md",
                  alt: "irgsno logo",
                  wholeArea: true,
                  // width: 170,
                  // height: 59,
                  unitsSize: "px"
                },
                {
                  minWidth: 768,
                  type: "webp",
                  url: "/assets/img/client-list/irgsno/irgsno-md",
                  alt: "irgsno logo",
                  wholeArea: true,
                  // width: 170,
                  // height: 59,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "png",
                  url: "/assets/img/client-list/irgsno/irgsno-lg",
                  alt: "irgsno logo",
                  wholeArea: true,
                  lazy: true,
                  // width: 255.5,
                  // height: 89.13,
                  unitsSize: "px"
                },
                {
                  minWidth: 1920,
                  type: "webp",
                  url: "/assets/img/client-list/irgsno/irgsno-lg",
                  alt: "irgsno logo",
                  wholeArea: true,
                  // width: 255.5,
                  // height: 89.13,
                  unitsSize: "px"
                }
              ]
          }
        }
      ],
      popup: {
        pictures: {
          picClass: "popup-picture",
          source: [
            {
              minWidth: 0,
              type: "png",
              url: "/assets/img/avatars/avatar-assistant-sm",
              alt: "avatar assistant",
              wholeArea: true,
              // width: 66,
              // height: 66,
              unitsSize: "px"
            },
            {
              minWidth: 1920,
              type: "png",
              url: "/assets/img/avatars/avatar-assistant-lg",
              alt: "avatar assistant",
              wholeArea: true,
              // width: 84,
              // height: 84,
              unitsSize: "px",
              lazy: true,
            }
          ]
        },
        message: {
          pictures: {
            picClass: "header-popup__bg",
            source: [
              {
                minWidth: 0,
                type: "png",
                url: "/assets/img/bg-message-header-lg",
                alt: "background",
                unitsSize: "px",
                wholeArea: true
              },
              {
                minWidth: 1920,
                type: "png",
                url: "/assets/img/bg-message-header-lg",
                alt: "background",
                wholeArea: true,
                lazy: true,
                unitsSize: "px"
              }
            ]
          },
          text: "Среднее время работы с&nbsp;клиентом&nbsp;&mdash; 5&nbsp;лет 💙"
        }
      }
    };

  .header__inner
    h1.header__title !{headerData.title}
    .header__clients
      .swiper-container.swiper.mySwiper
        .swiper-wrapper
          ul.header__client-list.swiper-slide
            each client in headerData.clientList
              li.header__client-item.client
                .client__logo
                  +picture(client.pictures)(aria-hidden="true")
                span.client__postscript !{client.postscript}
    .header__bottom
      .header__popup.header-popup
        .header-popup__icon
          +picture(headerData.popup.pictures)(aria-hidden="true")
        .header-popup__message
          +picture(headerData.popup.message.pictures)(aria-hidden="true")
          p.header-popup__text !{headerData.popup.message.text}
      .swiper-bottom
        +arrowSwiper("prev")
        +arrowSwiper("next")
