footer.footer
  -
    const footerData = {
      riverstartDigital: "2021&nbsp;&copy; Riverstart Digital. Все права защищены",
      politicsConfederacy: '<a href="https://02.rkn.gov.ru/directions/p4172/p18331/" target="_blank" class="link"> Политика конфиденциальности</a>',
      share: [
        {
          type: "fb",
          href: "https://www.facebook.com/sharer/sharer.php?u=https://riverstart.ru/"
        },
        {
          type: "vk",
          href: "https://vk.com/share.php?url=https://riverstart.ru/"
        },
        {
          type: "ig",
          href: "https://www.instagram.com/live_in_nizhny_novgorod/p/C6oFNhjs6Yk/"
        },
        {
          type: "tw",
          href: "https://twitter.com/intent/tweet?url=https://riverstart.ru/"
        },
        {
          type: "be"
        }
      ]
    };
    
  .footer__inner
    .footer__politics
      .footer__riverstart-digital.riverstart-digital
        svg.riverstart-digital__svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 19 19' fill='none')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M0 8.82876V18C-1.55094e-06 18.2646 0.104828 18.5184 0.291523 18.7059C0.478218 18.8933 0.731556 18.9991 0.996035 19H10.1657C10.3053 19.0007 10.4418 18.9598 10.558 18.8825C10.6742 18.8052 10.7647 18.695 10.818 18.566C10.8713 18.437 10.8849 18.295 10.8571 18.1582C10.8293 18.0214 10.7614 17.8959 10.662 17.7979L1.20141 8.32876C1.10261 8.23081 0.977065 8.16428 0.840569 8.13754C0.704072 8.1108 0.562722 8.12505 0.434301 8.1785C0.30588 8.23194 0.196125 8.3222 0.118847 8.4379C0.041569 8.55361 0.00021925 8.6896 0 8.82876ZM15.2828 0C15.4219 0.00115783 15.5575 0.043238 15.6729 0.120996C15.7882 0.198755 15.8781 0.308751 15.9314 0.437279C15.9847 0.565807 15.999 0.707182 15.9725 0.843784C15.946 0.980387 15.88 1.10618 15.7826 1.20548L12.3084 4.67465C12.1981 4.783 12.1109 4.91262 12.052 5.05566C11.9932 5.1987 11.964 5.35219 11.9661 5.50685V10.274C11.9659 10.4131 11.9246 10.5491 11.8473 10.6648C11.77 10.7805 11.6603 10.8708 11.5318 10.9242C11.4034 10.9777 11.2621 10.9919 11.1256 10.9652C10.9891 10.9385 10.8635 10.8719 10.7647 10.774L1.20141 1.20548C1.10254 1.10701 1.03508 0.981418 1.00758 0.844584C0.980069 0.70775 0.993747 0.565826 1.04688 0.436772C1.10001 0.307719 1.19021 0.197334 1.30606 0.119585C1.42191 0.0418372 1.55821 0.000221527 1.69771 0H15.2828ZM12.9622 19H18.004C18.2684 18.9991 18.5218 18.8933 18.7085 18.7059C18.8952 18.5184 19 18.2646 19 18V6.83219C18.9998 6.69302 18.9584 6.55703 18.8811 6.44133C18.8039 6.32562 18.6941 6.23537 18.5657 6.18192C18.4373 6.12848 18.2959 6.11423 18.1594 6.14096C18.0229 6.1677 17.8974 6.23423 17.7986 6.33219L12.3221 11.8116C12.2122 11.9196 12.1252 12.0486 12.0664 12.1911C12.0076 12.3335 11.9781 12.4863 11.9798 12.6404V18.0068C11.9816 18.2679 12.0853 18.518 12.2689 18.7036C12.4524 18.8891 12.7013 18.9955 12.9622 19Z' fill='#9A9AAD')
        p.riverstart-digital__text !{footerData.riverstartDigital}
      p.footer__politics-confederacy !{footerData.politicsConfederacy}
    +share(footerData.share)(class="footer__share")
