extends _layouts/default

block append config
  - var pagetitle = "Index"

block append head
  if !isDev
    link(href="css/critical/main-page.css" rel='stylesheet')

block append styles
  link(href="/src/scss/main-page.scss" rel='stylesheet')
