@use 'sass:map';
@use 'src/scss/base' as *;

.share {
  $fs-share: $fs-base;

  $size-icon: (
    sm: 18.22,
    md: 18.22,
    lg: 16,
    xl: 23.45);
  $gap-share: (
    sm: 56,
    md: 43,
    lg: 46.67,
    xl: 70);

  display: flex;
  font-size: 1em;
  gap: em(20, map.get($fs-share, 'sm'));

  @each $key, $value in $fs-share {
    @include up($key) {
      gap: em(map.get($gap-share, $key), $value);
    }
  }

  &__icon {
    position: relative;
    width: em(map.get($size-icon, 'sm'), map.get($fs-share, 'sm'));
    height: em(map.get($size-icon, 'sm'), map.get($fs-share, 'sm'));
    color: $color-gray-text;


    @each $key, $value in $size-icon {
      @include up($key) {
        width: em($value, map.get($fs-base, $key));
        height: em($value, map.get($fs-base, $key));
      }
    }

    @include hover() {
      color: $color-secondary;

      @include transition(color);
    }
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__svg {
    width: 100%;
    height: 100%;
  }
}
