@font-face {
  font-family: 'mabry-pro';
  src:
          url('mabry-pro_engschrift_medium-webfont.woff2') format('woff2'),
          url('mabry-pro_engschrift_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'mabry-pro';
  src:
          url('mabry-pro_engschrift_regular-webfont.woff2') format('woff2'),
          url('mabry-pro_engschrift_regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
