@use "sass:math";
@use 'sass:map';
/* Main Colors */
$color-base: #f7f7fa;
$color-white: #eeeff4;
$color-gray: #9A9AAD;
$color-primary: #e8412a;
$color-secondary: #312dff;

$color-bg: #1f2032;
$color-text: $color-base;
$color-gray-text: #9a9aad;
$color-error: $color-primary;
$color-popup-background: $color-white;

$color-overlay: $color-base;
$opacity-overlay: .4;

$link-color: $color-text;
$link-hover-color: $color-secondary;

$transition-duration: .2s;
$transition-timing-function: ease-in-out;

$header-z-index: 1000;

$header-height: (
  sm: auto,
  md: auto,
  lg: auto,
  xl: auto,
);
$header-height-scroll: (
  sm: auto,
  md: auto,
  lg: auto,
  xl: auto,
);
$header-height-open: (
  sm: auto,
  md: auto,
  lg: auto,
  xl: auto,
);

/* notify */
$header-notify-height: (
  sm: auto,
  md: auto,
  lg: auto,
  xl: auto,
);

/* Fonts */
$font-family: 'Fira Sans', sans-serif;
$font-family-alt: 'mabry-pro', $font-family;
$font-size: 18px;
$font-weight: normal;
$letter-spacing: normal;
$line-height: 1.2;

/* Font size */
$fs-base: (
  sm: 16,
  md: 16,
  lg: 18,
  xl: 18);

$base-height: (
  sm: 701,
  md: 689,
  lg: 689,
  xl: 1033,
);

$base-width: (
  sm: 340,
  md: 768,
  lg: 1280,
  xl: 1920);

/* Screen sizes */
$grid-breakpoints: (
  sm: 340px,
  md: 768px,
  lg: 1280px,
  xl: 1920px);
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1680px);
$container-paddings: (
  sm: 0,
  md: 0,
  lg: 0,
  xl: 0);

$data-color-selector-light: "data-theme='light'";
$data-color-selector-dark: "data-theme='dark'";
$data-color-selector-c-light: "data-theme='contrast-light'";
$data-color-selector-c-dark: "data-theme='contrast-dark'";
$data-color-selector-c-blue: "data-theme='contrast-blue'";

$data-images-selector-1: "data-images='1'";
$data-images-selector-2: "data-images='2'";
$data-images-selector-3: "data-images='3'";

$data-no-effects-selector: "data-no-effects";

$medias: sm, md, lg, xl;

$zoom-sizes: [100, 125, 150, 175, 200];

$form-preloader-width: 5.6rem;
