mixin arrowSwiper(direction)
  if direction === 'prev'
    button.slider__prev.arrow-swiper.swiper-button-prev(aria-label="Предыдущий слайд")
      svg.arrow-swiper__prev(viewbox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M24 9L2 9M2 9L10.4493 17M2 9L10.4493 1' stroke='#F7F7FA' stroke-width='2.3')

  else
    button.slider__next.arrow-swiper.swiper-button-next(aria-label="Следующий слайд")
      svg.arrow-swiper__next(viewbox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M0 9H22M22 9L13.5507 1M22 9L13.5507 17' stroke='#F7F7FA' stroke-width='2.3')
