@use 'sass:map';
@use 'src/scss/base' as *;

/*
Основной контейнер
*/
main.content {
  $padding-x-contacts: (
    sm: 30,
    md: 40,
    lg: 80,
    xl: 120);

  background: inherit;
  z-index: 2;
  display: grid;
  gap: 0;
  grid-template-columns: 100%;

  @include up('lg') {
    grid-template-columns: 1fr 1fr;
  }

  .contacts-us {
    padding-left: em(map.get($padding-x-contacts, 'sm'), map.get($fs-base, 'sm'));
    padding-right: em(map.get($padding-x-contacts, 'sm'), map.get($fs-base, 'sm'));

    @each $key, $value in $fs-base {
      @include up($key) {
        padding-left: em(map.get($padding-x-contacts, $key), $value);
        padding-right: em(map.get($padding-x-contacts, $key), $value);
      }
    }
  }
}
