@use 'sass:map';
@use 'src/scss/base' as *;
.swiper-container {
  $padding-x: (
    sm: 30,
    md: 40,
    lg: 80,
    xl: 120);

  overflow: hidden;
  position: relative;
  height: inherit;
  //padding-bottom: em(191, map.get($fs-base, 'xl'));
}
.swiper-bottom {
  display: none;
  column-gap: rem(48, map.get($fs-base, 'xl'));

  @include up('md') {
    display: flex;
  }

}

.arrow-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: em(92, map.get($fs-base, 'xl'));
  height: em(92, map.get($fs-base, 'xl'));
  border-radius: 100%;
  background-color: $color-secondary;
  z-index: 1000;

  &__prev,
  &__next {
    width: em(22, map.get($fs-base, 'xl'));
    height: em(16, map.get($fs-base, 'xl'));
  }


  &:active {

    .arrow-swiper__prev,
    .arrow-swiper__next {
      transform: scale(1.5);
    }
  }

  .arrow-swiper__prev,
  .arrow-swiper__next {
    transition: transform 0.2s ease;
  }

  &.slider__prev {
    left: 0;
  }

  &.slider__next {
    right: 0;
  }
}
